body {
  margin: 0;
  h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
  background-color: #ffe6f0;
}

.container {
  padding: 40px;
  text-align: center;
}

.hero {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.button {
  background-color: #ff66a3;
  color: white;
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff3385;
  transform: scale(1.05);
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  width: 220px;
  box-shadow: 0 10px 20px rgba(174, 122, 132, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.price {
  color: #ff3385;
  font-weight: bold;
}

.cart-box {
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

body {
  margin: 0;
}

nav a:active {
  background-color: rgb(254, 202, 221);
  border-radius: 8px;
  padding: 5px 8px;
}

/* Container umum */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Grid produk */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Tablet */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

